@model IEnumerable<ContosoUniversity.Models.SchoolViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "Student Body Statistics";
}

<h2>Student Body Statistics</h2>

<table>
    <tr>
        <th>
            Enrollment Date
        </th>
        <th>
            Students
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>
<br />
<br />
<div>
    <h2>Contact us for a quote to apply</h2>
    <p>If you would like to apply you will need to call us and talk to one of our advisers. As we do a pay to win system there is no set price it will be what you work out with our advisers. if you have any other questions just ask when talking with the adviver.</p>
    <p>Current Adviser: Mic <br /> Contact him at: 000-111-2222</p>

</div>