@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
    <img class="col-12" src="https://images.pexels.com/photos/6147276/pexels-photo-6147276.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Welcome to Contoso University</h2>
        <p>
            We pride ourselves on being the only University out there that lets you pay for grades. We feel that if you have the money you shouldn't have to study or take the time to atend class. if you have the Money you now have free time. We also mine Crypto with all the resorces that we get from the govenrnment so we can use it to get things for the faclty on campuse for the few stuendents on camups. lots of people think this is wrong but we say this is how we were boorn we didn't chouse to be like this. We where born this way. we say that people should have the abbility to do what they want and not have to live with the consiquesnses because they are not fun. we just want to have a good time and not have to think about what we are doing to others we just want our feelings to not feel bad.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Grades for Money</h2>
        <p>You have money, we have grades. It is realy that simple. Just don't tell anyone else ok.</p>
    </div>
    <div class="col-md-4">
        <h2>No Homework</h2>
        <p>We don't offer the experience. We make up for it with the free time you will have.</p>
    </div>
    <div class="col-md-4">
        <h2>Apply Online</h2>
        <p>Apply to get a dagree today. No Pain just good times.</p>
        <p><a class="btn btn-default" asp-controller="Home" asp-action="About">Apply Today! &raquo;</a></p>
    </div>
</div>